{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

    <hr/>
    <h1>Contact</h1>
    <p>
        The BCIO is intended to be a growing resource and its ongoing development benefits from community input. If you
        have a query or would like to contribute to the BCIO, please submit an issue on <a
            href="https://github.com/HumanBehaviourChangeProject/ontologies/issues"><strong>Github</strong></a> (you may
        need create a free account).
    </p>
    <p>
        Through Github you can submit requests to:
    </p>
    <ul>
        <li>add new entities</li>
        <li>revise the labels or definitions of existing entities</li>
        <li>add new synonyms or examples</li>
        <li>report typos, errors or bugs</li>
    </ul>
    <p>
        We strongly encourage users to submit issues on Github to allow us to publicly track and respond to requests
        from the community. This is to reflect the <a href="https://obofoundry.org/principles/fp-000-summary.html">Open
        Biological and Biomedical Ontology (OBO) Foundry principles</a> of good practice in ontology development.
    </p>
    <p>
        For all other queries, please email <a href="mailto:info@bciontology.org">info@bciontology.org</a>
    </p>

{% endblock %}