{% extends "base.html" %}
{% block title %}{{ config['APP_TITLE'] }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<html>
<body>

<meta charset="utf-8">
<br>

<h2 style="text-align: center;">
    Input a list of ID's below, choose your Ontology, then press "Submit":
</h2>

<div id="form_div" style="text-align: center;">    
    <form  target=”_blank” id="submitText" name="form" method="POST" style="text-align: center;"
    action="/openVisualiseAcrossSheetsVis" onsubmit="return required()">
    <!--local test version-->
        <!-- action="http://127.0.0.1:8080/api/openVisualiseAcrossSheetsVis" onsubmit="return required()">  -->
        <!-- action="https://onto-spread-ed.ew.r.appspot.com/api/openVisualiseAcrossSheetsVis" onsubmit="return required()"> --> <!--production version-->
        
        <h4>
            <span class="badge badge-primary">
                List of ID's separated by spaces
            </span>
        </h4>
        <textarea id="idList" form="submitText" class="form-control"
            placeholder="EG: BCIO:011062 ADDICTO:0000322 - leave blank for full list" name="idList"rows="10">ADDICTO:0000323 ADDICTO:0000322 BCIO:011007 BCIO:011062 BCIO:018000
        </textarea>
        <br>
        <h4>
            <span class="badge badge-primary" placeholder="EG: AddictO BCIO">
                Choice of Ontologies
            </span>
        </h4>
        
        {% for ont in ontologies %}
        <input id="{{ont}}" type="checkbox" name="{{ont}}" value="{{ont}}">{{ont}}
        {% endfor %}
        <input id="repo-text-box" name="repo" value="" hidden="true">
        <input class="btn btn-outline-primary" type="submit" value="Submit">
    </form>
</div>


<script>
    $(document).ready(function() {
        // alert("loaded");
        
    });

function required(){
        ontologyValues = ""
        {% for ont in ontologies %}
        if($('#{{ont}}').get(0).checked){
            ontologyValues = ontologyValues + "{{ont}}" + " ";
        }
        {% endfor %}
        // console.log("got ontologyValues: " + ontologyValues);
        $('#repo-text-box').val(ontologyValues);
        // console.log("got ontologyValues: " + $('#repo-text-box').val());

        
        if (ontologyValues == "") {            
        alert("Please choose an Ontology");
        return false;
        }
        else {
        // alert('Code has accepted : you can try another');
        return true; 
        }

}
</script>

</body>




</html>

{% endblock %}