{% extends "base.html" %}
{% block title %}{{ config['APP_TITLE'] }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<style>
    ul.bs-autocomplete-menu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-height: 200px;
      overflow: auto;
      z-index: 9999;
      border: 1px solid #eeeeee;
      border-radius: 4px;
      background-color: #fff;
      box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.4);
    }
  
    ul.bs-autocomplete-menu a {
      font-weight: normal;
      color: #333333;
    }
  
    .ui-helper-hidden-accessible {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  
    .ui-state-active,
    .ui-state-focus {
      color: #23527c;
      background-color: #eeeeee;
    }
  
    ul.bs-autocomplete-menu li {
      text-align: left;
      border-radius: 50%;
      border: .25em solid #ccc;
  
      
    }
  
    .bs-autocomplete-feedback {
      width: 1.5em;
      height: 1.5em;
      overflow: hidden;
      margin-top: .5em;
      margin-right: .5em;
    }
  
   
  </style>
<html>
<body>

<meta charset="utf-8">
<br>
<!-- Modal -->
<div class="modal fade" id="alertBox" tabindex="-1" role="dialog" aria-labelledby="alertBoxLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="alertBoxLabel">No ontology chosen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Please select one or more ontology
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<h4 style="text-align: center;">
    Choose your Ontology, input a list of IDs below, then press "Submit". 
</h4>
<h4 style="text-align: center;">
    To visualise the full ontology, leave the list of IDs empty.
</h4>

<div id="form_div" style="text-align: center;">    
    <form  target=”_blank” id="submitText" name="form" method="POST" style="text-align: center;"
    action="/visualise" onsubmit="return required()">
    
    <h4>
      <span class="badge badge-secondary" placeholder="EG: AddictO BCIO" style = "margin-top: 20px;">
          Choice of Ontologies
      </span>
  </h4>
  <div id="ont_div" style=" border-radius: 3px;  padding: 6px 11px; font-size: 24px; text-align: center;">  
  {% for ont in ontologies %}
  <input id="{{ont}}" type="checkbox" name="{{ont}}" value="{{ont}}" style = "margin: 0px 10px; position: relative; bottom: 3px;" >{{ont}}
  {% endfor %}
  <input id="repo-text-box" name="repo" value="" hidden="true">
  </div>
    <div class="container">
      <div class="row">

        <div class="col">
          <label for="search-replace" class="control-label">Look up IDs here:</label>
          <input class="form-control bs-autocomplete" id="search-replace" value="" placeholder="ID or Label..." type="text"
            data-source="demo_source.php" data-hidden_field_id="id-or-label" data-item_id="id" data-item_label="name"
            autocomplete="off">

          <div class="form-group">
            <input class="form-control" id="id-or-label" name="idlabel" value="" type="number" readonly>
          </div>
          <h4>
            <span class="badge badge-secondary">
                List of IDs (separated by commas)
            </span>
          </h4>
          <textarea id="idList" form="submitText" class="form-control" placeholder="" name="idList"rows="10"></textarea>
        </div>


        <div class="col">
          <label for="search-replace2" class="control-label">Look up IDs to exclude here:</label>
          <input class="form-control bs-autocomplete2" id="search-replace2" value="" placeholder="ID or Label..." type="text"
            data-source="demo_source.php" data-hidden_field_id="id-or-label2" data-item_id="id" data-item_label="name"
            autocomplete="off">

          <div class="form-group">
            <input class="form-control" id="id-or-label2" name="idlabel2" value="" type="number" readonly>
          </div>
            <h4>
              <span class="badge badge-secondary">
                  IDs to exclude (separated by commas)
              </span>
            </h4>
            <textarea id="excludeIDList" form="submitText" class="form-control" name="excludeIDList"rows="10"></textarea>
              <br>
          
          
        </div> 
        

     </div>
     <input class="btn btn-outline-primary" type="submit" value="Submit" style="margin-top: 20px;">
    </div> 
    </form>
</div>


<script>
    //ID complete functions from onto-text-tag
     $(function () {
      $('[data-toggle="popover"]').popover({ html: true });
    })

    function updateLabels(){ 
        labelArray = [];
      ontologyValues = "";
      {% for ont in ontologies %}
      var checkedOnt = '{{ont}}';
      checkedOnt = "#" + checkedOnt;
      // console.log(checkedOnt);
      if ($(checkedOnt).is(':checked')){
        // console.log("checked");
      
        $.ajax({
        'url' : '/get_values',    
        'type' : 'POST',    
        'data' : {
          'ontology' : '{{ont}}'
        },    
        'success' : function(data) {      
          // console.log(data);
          data.forEach(function (label, i) {
            labelArray.push({ id: i, name: label }); 
            // console.log("got label_two: " + label);
          });       
        }    
        
      });
    }
      {% endfor %}
    
  }
  var ontologyArray = [];
  var idResultList = [];
  var labelJson = '{{label_list | tojson | safe}}';
  var labelArray = []; //get right format
  var labelList = JSON.parse('{{label_list | tojson | safe}}');
  // console.log("got labelList: ", labelList)
  var labels = labelList;
  labels.forEach(function (label, i) {
    labelArray.push({ id: i, name: label });
  });



$('input[type="checkbox"]').click(function() {
   updateLabels();
});
    


      


  //jQuery UI:
  $.widget("ui.autocomplete", $.ui.autocomplete, {

    _renderMenu: function (ul, items) {
      var that = this;
      ul.attr("class", "nav nav-pills nav-stacked  bs-autocomplete-menu");
      $.each(items, function (index, item) {
        that._renderItemData(ul, item);
      });
    },

    _resizeMenu: function () {
      var ul = this.menu.element;
      ul.outerWidth(Math.min(
        // Firefox wraps long text (possibly a rounding bug)
        // so we add 1px to avoid the wrapping (#7513)
        ul.width("").outerWidth() + 1,
        this.element.outerWidth()
      ));
    }

  });

  (function () {


    "use strict";
    $('.bs-autocomplete').each(function () {
      var _this = $(this),
        _data = _this.data(),
        _hidden_field = $('#' + _data.hidden_field_id);
      _hidden_field.hide();

      _this.after('<div class="bs-autocomplete-feedback form-control-feedback"><div class="loader">Loading...</div></div>')
        .parent('.form-group').addClass('has-feedback');

      var feedback_icon = _this.next('.bs-autocomplete-feedback');
      feedback_icon.hide();

      _this.autocomplete({
        minLength: 2,
        autoFocus: false,

        source: function (request, response) {
          var _regexp = new RegExp(request.term, 'i');
          var data = labelArray.filter(function (item) {
            // console.log("item is: ", item);
            return item.name.match(_regexp);
          });
          response(data);
        },

        search: function () {
          feedback_icon.show();
          _hidden_field.val('');
        },

        response: function () {
          feedback_icon.hide();
        },

        focus: function (event, ui) {
          _this.val(ui.item[_data.item_label]);
          event.preventDefault();
        },

        select: function (event, ui) {
          _this.val(ui.item[_data.item_label]);
          _hidden_field.val(ui.item[_data.item_id]);
          event.preventDefault();
          idResultList.push(ui.item[_data.item_label]);
          
          //append to text box: 
          var elem = document.getElementById('idList'); //todo: use text box below instead?
          if(elem.value.trim() == "" || elem.value == null){
            elem.value += ui.item[_data.item_label];
          } else{
            elem.value += (" ," + ui.item[_data.item_label]) ;
          }
          
          _this.val(""); //clear input on submit
        }
      })
        .data('ui-autocomplete')._renderItem = function (ul, item) {
          return $('<li></li>')
            .data("item.autocomplete", item)
            .append('<a>' + item[_data.item_label] + '</a>')
            .append('<br>')
            .appendTo(ul);
        };
      // end autocomplete
    });

    //other autocomplete: 
    $('.bs-autocomplete2').each(function () {
      var _this = $(this),
        _data = _this.data(),
        _hidden_field = $('#' + _data.hidden_field_id);
      _hidden_field.hide();

      _this.after('<div class="bs-autocomplete-feedback form-control-feedback"><div class="loader">Loading...</div></div>')
        .parent('.form-group').addClass('has-feedback');

      var feedback_icon = _this.next('.bs-autocomplete-feedback');
      feedback_icon.hide();

      _this.autocomplete({
        minLength: 2,
        autoFocus: false,

        source: function (request, response) {
          var _regexp = new RegExp(request.term, 'i');
          var data = labelArray.filter(function (item) {
            // console.log("item is: ", item);
            return item.name.match(_regexp);
          });
          response(data);
        },

        search: function () {
          feedback_icon.show();
          _hidden_field.val('');
        },

        response: function () {
          feedback_icon.hide();
        },

        focus: function (event, ui) {
          _this.val(ui.item[_data.item_label]);
          event.preventDefault();
        },

        select: function (event, ui) {
          _this.val(ui.item[_data.item_label]);
          _hidden_field.val(ui.item[_data.item_id]);
          event.preventDefault();
          idResultList.push(ui.item[_data.item_label]);
          
          //append to text box: 
          var elem = document.getElementById('excludeIDList'); //todo: use text box below instead?
          if(elem.value.trim() == "" || elem.value == null){
            elem.value += ui.item[_data.item_label];
          } else{
            elem.value += (" ," + ui.item[_data.item_label]) ;
          }
          
          _this.val(""); //clear input on submit
        }
      })
        .data('ui-autocomplete')._renderItem = function (ul, item) {
          return $('<li></li>')
            .data("item.autocomplete", item)
            .append('<a>' + item[_data.item_label] + '</a>')
            .append('<br>')
            .appendTo(ul);
        };
      // end autocomplete
    });
  })();

    $(document).ready(function() {
        // alert("loaded");
        $('#search-replace').focusin(function() {
          ontologyValues = "";
          {% for ont in ontologies %}
          if($('#{{ont}}').get(0).checked){
            ontologyValues = ontologyValues + "{{ont}}" + " "; 
          }
          {% endfor %}        
        
          if (ontologyValues == "") {   
            $('#alertBox').modal();    
          // alert("Please choose an Ontology");
          }
        });

        $('#search-replace2').focusin(function() {
          ontologyValues = "";
          {% for ont in ontologies %}
          if($('#{{ont}}').get(0).checked){
            ontologyValues = ontologyValues + "{{ont}}" + " "; 
          }
          {% endfor %}        
        
          if (ontologyValues == "") {            
          // alert("Please choose an Ontology");
          $('#alertBox').modal();
          }
        });

        $('#idList').focusin(function() {
          ontologyValues = "";
          {% for ont in ontologies %}
          if($('#{{ont}}').get(0).checked){
            ontologyValues = ontologyValues + "{{ont}}" + " "; 
          }
          {% endfor %}        
        
          if (ontologyValues == "") {            
          // alert("Please choose an Ontology");
          $('#alertBox').modal();
          }
        });

        $('#excludeIDList').focusin(function() {
          ontologyValues = "";
          {% for ont in ontologies %}
          if($('#{{ont}}').get(0).checked){
            ontologyValues = ontologyValues + "{{ont}}" + " "; 
          }
          {% endfor %}        
        
          if (ontologyValues == "") {            
          // alert("Please choose an Ontology");
          $('#alertBox').modal();
          }
        });

    });

function required(){
        ontologyValues = "";
        {% for ont in ontologies %}
          if($('#{{ont}}').get(0).checked){
            ontologyValues = ontologyValues + "{{ont}}" + " "; 
          }
        {% endfor %}        
        $('#repo-text-box').val(ontologyValues);
        
        if (ontologyValues == "") {            
        // alert("Please choose an Ontology");
        $('#alertBox').modal();
        return false;
        }
        else {
        return true; 
        }

}
</script>

</body>




</html>

{% endblock %}
